<style>
    :root {
        /* Primary theme color */
        --primary-color: #5EA4DF;
        /* Primary theme text color */
        --primary-text-color: #334050;
        /* Primary theme link color */
        --primary-link-color: #7f6aFD;
        /* Secondary color: the background body color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #2c2c2c;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #b04ebf;

        --color-bgk-1: #b0b4b8;
        --color-bgk-2: #e4e4e7;
        --color-bgk-code: #e2e2e2;

        --color-1: rgb(51, 64, 80);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --secondary-color: #2c2c2c;
            --secondary-text-color: #fcfaf6;
            --primary-text-color: #efefef;

            --toc-highlight-text-color: #dc7ff6;

            --color-bgk-1: rgb(51, 64, 80);
            --color-bgk-2: #4f4f58;
            --color-bgk-code: #4a4a4a;
    
            --color-1: #989898;
        }
    }
</style>
