{% extends "juice/templates/index.html" %}

{% block head %}
<link rel="stylesheet" href="style.css">
{% endblock head %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center" style="display: flex;">
    <div style="width: 100%">
        <div style="position: absolute; left: 16px; top: 16px; width: 160px;">
            <img src="dicom-rs-logo.svg" style="width: 100%; opacity: 40%;"></img>
        </div>
        <h1 class="heading-text" style="font-size: 50px">
            Enter DICOM-rs
        </h1>
        <h3 class="title-text">
            A DICOM implementation for the next generation of medical imaging systems.
        </h3>
        <div>
            <a class="github-button" href="{{config.extra.repository_url}}" data-size="large" data-show-count="true"
            aria-label="Star dicom-rs on GitHub">Star</a>
            <a class="github-button" href="{{config.extra.repository_url}}/fork" data-size="large"
            data-show-count="true" aria-label="Fork dicom-rs on GitHub">Fork</a>

        </div>
    </div>
</section>

<div class="explore-more text"
    onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Find out more ⇩
</div>
<style>
    .hero section {
        padding: 0 4rem;
    }
    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>
{% endblock hero %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}

{% block footer %}
<footer>
    <small class="subtext">
        2023 <a href="{{config.extra.repository_url}}">DICOM-rs project</a>
        <p>
            Published with <a href="https://pages.github.com">GitHub Pages</a>
        </p>
    </small>
</footer>
{% endblock footer %}
